body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

header {
    height: 64px;
}

hr {
    border: 2px solid #7d97ad;
}

h1,
h4,
a,
figcaption {
    color: #2d3c49;
}

h1,
h4,
figcaption {
    text-transform: uppercase;
}

h2 {
    color: #7d97ad;
    padding-left: 8px;
}

article {
    text-align: center;
}

figcaption {
    font-size: 1.5em;
}

.logo {
    float: left;
    width: 64px;
    position: relative;
    left: -6px;
}

.name {
    font-weight: 200;
}

.profile {
    text-align: right;
}

.project-picture {
    width: 100%;
}

.project {
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    header {
        height: 100px;
    }
    .logo {
        width: 100px;
        left: -10px;
    }
    .name {
        font-size: 4em;
    }
    .position {
        margin-top: 15px;
        font-size: 1.6em;
    }
    figcaption {
        font-size: 2.5em;
    }
    .hero {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media only screen and (max-width: 640px) {
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2 {
        margin-top: 10px;
    }
}