body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 100px;
}

hr {
    border: 2px solid #7d97ad;
}

h1,
h3,
a,
figcaption {
    color: #2d3c49;
}

h1,
h3,
figcaption {
    text-transform: uppercase;
}

h2 {
    color: #7d97ad;
}

article {
    text-align: center;
}

figcaption {
    font-size: 2.5em;
}

.text-logo {
    float: left;
    color: #02b3e4;
    font-size: 5em;
}

.name {
    font-weight: 200;
    font-size: 4em;
}

.position {
    margin-top: 15px;
}

.hero {
    padding-top: 8px;
    padding-bottom: 8px;
}

.info {
    text-align: right;
}

.project-picture {
    width: 100%;
}

.project {
    margin-bottom: 16px;
}